{% load static %}
<!DOCTYPE html>
<html lang="ca">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmar restabliment de contrasenya - IETI</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body class="bg-gray-100">
  <div class="min-h-screen flex items-center justify-center">
    <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
      <h1 class="text-2xl font-semibold text-center text-gray-500 mt-8 mb-6">Confirmar restabliment de contrasenya</h1>
      <p class="text-sm text-gray-600 text-center mt-8 mb-6">Si us plau, introdueix la teva nova contrasenya.</p>
      <form method="post">
        {% csrf_token %}
        <div class="mb-6">
          <label for="new_password1" class="block mb-2 text-sm text-gray-600">Nova contrasenya</label>
          <input type="password" id="new_password1" name="new_password1"
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
          <div id="error-message1" class="flex flex-col pt-4"></div>
        </div>
        <div class="mb-6">
          <label for="new_password2" class="block mb-2 text-sm text-gray-600">Confirmar nova contrasenya</label>
          <input type="password" id="new_password2" name="new_password2"
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
          <div id="error-message2" class="flex flex-col pt-4"></div>
        </div>
        <button type="submit"
          class="w-32 bg-gray-500 text-white py-2 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mt-4 mb-4">Canviar
          contrasenya</button>
      </form>
      <div class="text-center">
        <p class="text-sm">Tornar a <a href="{% url 'login' %}" class="text-cyan-600">Iniciar sessió</a></p>
      </div>
      <p class="text-xs text-gray-600 text-center mt-8">&copy; Esteve Terradas i Illa</p>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('form').on('submit', function (event) {
        var password1 = $('#new_password1').val();
        var password2 = $('#new_password2').val();

        var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,16}$/;

        var errorMessage1 = $('#error-message1');
        var errorMessage2 = $('#error-message2');
        errorMessage1.html(''); // clear previous error messages
        errorMessage2.html(''); // clear previous error messages
        if (!password1.match(passwordRegex)) {
          errorMessage1.append('<p>La contrasenya ha de tenir entre 8 i 16 caràcters, incloent almenys una lletra majúscula, una lletra minúscula, un número i un símbol.</p>');
          event.preventDefault();
        }

        if (password1 !== password2) {
          errorMessage2.append('<p>Les contrasenyes no coincideixen.</p>');
          event.preventDefault();
        }
      });
    });
  </script>

</body>

</html>