<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restabliment de contrasenya - IETI</title>
  <link rel="icon" href="{% static 'biblioteca/image/maricarmenbrito-logo.png' %}"> 

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <div class="min-h-screen flex items-center justify-center">
    <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
      
      <h1 class="text-2xl font-semibold text-center text-gray-500 mt-8 mb-6">Recuperació de contrasenya</h1> 
      <p class="text-sm text-gray-600 text-center mt-8 mb-6">Introdueix el teu correu electrònic per restablir la teva contrasenya</p> 
      <form method="post">
        {% csrf_token %}
        <div class="mb-6">
          <label for="email" class="block mb-2 text-sm text-gray-600">Correu electrònic</label>
          <input type="email" id="email" name="email" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
        </div>
        <button type="submit" class="w-32 bg-gray-500 text-white py-2 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mt-4 mb-4">Enviar</button>
      </form>
      <div class="text-center">
        <p class="text-sm">Tornar a <a href="{% url 'login' %}" class="text-cyan-600">Iniciar sessió</a></p>

      </div>
      <p class="text-xs text-gray-600 text-center mt-8">&copy; Esteve Terradas i Illa</p>
    </div>
  </div>
</body>
</html>