<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contrasenya canviada - IETI</title>
  <link rel="icon" href="{% static 'biblioteca/image/maricarmenbrito-logo.png' %}"> 

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <div class="min-h-screen flex items-center justify-center">
    <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
      <h1 class="text-2xl font-semibold text-center text-gray-500 mt-8 mb-6">Contrasenya canviada</h1> 
      <p class="text-sm text-gray-600 text-center mt-8 mb-6">La teva contrasenya ha estat canviada amb èxit.</p> 
      <div class="text-center">
        <p class="text-sm">Ara pots <a href="{% url 'login' %}" class="text-cyan-600">Iniciar sessió</a> amb la teva nova contrasenya.</p>
      </div>
      <p class="text-xs text-gray-600 text-center mt-8">&copy; Esteve Terradas i Illa</p>
    </div>
  </div>
</body>
</html>