/***** LANDING PAGE *****/

@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

.font-family-karla {
    font-family: karla;
}

@keyframes slide-in {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#formlogin,
.animated-text {
    animation: slide-in 1s ease-out 0s;
    animation-fill-mode: forwards;
}



/***** DASHBOARD *****/


@media (min-width: 1024px) {
    .lg\:w-3\/4 {
        width: 96.5%;
        /* Cambia esto al porcentaje que desees */

    }
}

.mt-2 {
    margin-top: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


/***** POPUP *****/

.popupDiv {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 20%;
    z-index: 1000;
}

.popupDiv .popup {
    position: relative;

    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}

.popupDiv .popup .close {
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 20px;
}

.popupDiv .popup.error {
    background-color: #ed5555;
    border: 2px solid #f53f3f;
}

.popupDiv .popup.success {
    background-color: #6fda5a;
    border: 2px solid #51d437;
}



/*** MODAL ***/

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0); 
}

.modal-content1 {
    background-color: #00fd00d0;
    margin: 0;
      margin-top: 0px;
      margin-left: 0px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 20px;
    border: 1px solid #ffcfcf;
    width: 250px;
    height: auto;
    animation-name: slideDown;
    animation-duration: 1s;
    margin-left: 80px;
    margin-top: 69px;
    border-radius: 40px;
  }

@keyframes slideDown {
    0% { top: -300px; }
    100% { top: 0; }
}

.close:hover, .close:focus {
    color: #595252ad;
    text-decoration: none;
    cursor: pointer;
}
.modal .close {
    color: #241c1c;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;   
}


/***** MODAL ERRORS *****/

.ModalError {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
}

.modal-content {
    background-color: #ff9587;
    margin: 0;
    margin-top: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 20px;
    border: 1px solid #bbbbbb;
    width: 599px;
    height: auto;
    animation-name: slideDown;
    animation-duration: 1s;
    margin-left: 689px;
    margin-top: 79px;
    border-radius: 20px;
}

@keyframes slideDown {
    0% { transform: translateY(-300px); }
    100% { top: 0; }
}

.close:hover, .close:focus {
    color: #595252ad;
    text-decoration: none;
    cursor: pointer;
}
.close {
    color: #241c1c;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -20px;
    MARGIN-LEFT: -2PX;
}
.modal-content p {
    display: block !important; /* Asegura que cada párrafo se muestre en una nueva línea */
    margin-bottom: 10px; /* Agrega un poco de espacio entre los párrafos */
}


/***** USUARIS *****/
.background {
    padding-bottom: 60px;
}

.usuarisContainer {
    background-color: white;
    width: 90%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 20px 10px;
}

table.mainTable {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

table.mainTable thead {
    background-color: black;
    color: white;
    height: 50px;
}

table.mainTable tbody tr:nth-child(odd) {
    background-color: white;
}

table.mainTable tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .05)
}

table.mainTable tbody tr:last-child {
    display: block;
    margin-bottom: 10px;
}

table.mainTable tbody tr:hover {
    background-color: #e6e4e4;

}

table.mainTable tbody td {
    text-align: center;
    padding: 5px 0;
}


table.mainTable tbody a {
    display: block;
    width: 100%;
    height: 50px;
    align-content: center;
}

table.usuaris tbody .nom {
    text-decoration: underline;
}

table.usuaris tbody .imatge a {
    display: flex;
    justify-content: center;
}

table.usuaris tbody .imatge img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

/* PRODUCTE */

.imatgeProducte {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Prestec */

table.prestecs tbody td {
    height: 50px;
}

table.prestecs tbody .retornat span {
    font-size: 12px;
    padding: 5px;
    background-color: lightgreen;
    border-radius: 5px;
}

table.prestecs tbody .retornat span.noRetornat {
    background-color: orange;
}

table.prestecs tbody .retornat span.limitDate {
    background-color: lightcoral;
}

table.prestecs tbody .retornat span.retornat {
    background-color: lightgreen;
}

table.prestecs tbody button {
    background-color: #51d437;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

table.prestecs tbody button:active {
    transform: scale(0.98);
}


.prestecsHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;

}

.prestecsHeader .createNewPrestec {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 30px;
}

.prestecsHeader .createNewPrestec:active {
    transform: scale(0.98);
}

.createNewPrestecContainer.hidden {
    display: none;
}

.createNewPrestecContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 11;

    display: flex;
    justify-content: center;
    align-items: center;
}

.createNewPrestecContainer article {
    width: fit-content;
    background-color: white;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
}

.createNewPrestecContainer article header {
    padding: 10px;
    background-color: black;
}

.createNewPrestecContainer article header h2 {
    font-size: 30px;
    color: white;
}

.createNewPrestecContainer article form {
    padding: 20px 10px;
}

.createNewPrestecContainer article main {
    height: 500px;
}

.createNewPrestecContainer article main>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.createNewPrestecContainer article main>div label {
    margin-bottom: 10px;
}

.createNewPrestecContainer article main>div input {
    background-color: rgba(209, 213, 219);
}

.createNewPrestecContainer article main .inputsDates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.createNewPrestecContainer article main .inputsDates>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.createNewPrestecContainer article main .inputsDates input {
    width: 90%;
}

.createNewPrestecContainer article main .error {
    color: red;
    font-size: 17px;
    font-family: Arial;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    display: none;
}

.createNewPrestecContainer article main .error.show {
    display: block;
}

.createNewPrestecContainer article footer button {
    background-color: #51d437;
    color: white;
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 5px;
}

.createNewPrestecContainer article footer button.closePopup {
    background-color: #ed5555;
}

.createNewPrestecContainer article footer button:active {
    transform: scale(.98);
}