/***** LANDING PAGE *****/

@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

.font-family-karla {
    font-family: karla;
}

@keyframes slide-in {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#formlogin,
.animated-text {
    animation: slide-in 1s ease-out 0s;
    animation-fill-mode: forwards;
}



/***** DASHBOARD *****/


@media (min-width: 1024px) {
    .lg\:w-3\/4 {
        width: 96.5%;
        /* Cambia esto al porcentaje que desees */

    }
}

.mt-2 {
    margin-top: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


/***** POPUP *****/

.popupDiv {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 20%;
    z-index: 1000;
}

.popupDiv .popup {
    position: relative;

    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}

.popupDiv .popup .close {
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 20px;
}

.popupDiv .popup.error {
    background-color: #ed5555;
    border: 2px solid #f53f3f;
}

.popupDiv .popup.success {
    background-color: #6fda5a;
    border: 2px solid #51d437;
}


/***** USUARIS *****/
.background {
    padding-bottom: 60px;
}

.usuarisContainer {
    background-color: white;
    width: 90%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 20px 10px;
}

table.mainTable {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

table.mainTable thead {
    background-color: black;
    color: white;
    height: 50px;
}

table.mainTable tbody tr:nth-child(odd) {
    background-color: white;
}

table.mainTable tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .05)
}

table.mainTable tbody tr:last-child {
    display: block;
    margin-bottom: 10px;
}

table.mainTable tbody tr:hover {
    background-color: #e6e4e4;

}

table.mainTable tbody td {
    text-align: center;
    padding: 5px 0;
}


table.mainTable tbody a {
    display: block;
    width: 100%;
    height: 50px;
    align-content: center;
}

table.usuaris tbody .nom {
    text-decoration: underline;
}

table.usuaris tbody .imatge a {
    display: flex;
    justify-content: center;
}

table.usuaris tbody .imatge img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

/* PRODUCTE */

.imatgeProducte {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Prestec */

table.prestecs tbody td {
    height: 50px;
}

table.prestecs tbody .retornat span {
    font-size: 12px;
    padding: 5px;
    background-color: lightgreen;
    border-radius: 5px;
}

table.prestecs tbody .retornat span.noRetornat {
    /* background-color: lightcoral; */
    background-color: orange;
}

table.prestecs tbody .retornat span.limitDate {
    background-color: lightcoral;
}

table.prestecs tbody .retornat span.retornat {
    background-color: lightgreen;
}

table.prestecs tbody button {
    background-color: #51d437;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

table.prestecs tbody button:active {
    transform: scale(0.98);
}