/***** LANDING PAGE *****/

@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

.font-family-karla {
    font-family: karla;
}

@keyframes slide-in {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#formlogin,
.animated-text {
    animation: slide-in 1s ease-out 0s;
    animation-fill-mode: forwards;
}



/***** DASHBOARD *****/


@media (min-width: 1024px) {
    .lg\:w-3\/4 {
        width: 96.5%;
        /* Cambia esto al porcentaje que desees */

    }
}

.mt-2 {
    margin-top: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}




/***** POPUP *****/

.popupDiv {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 20%;
    z-index: 1000;
}

.popupDiv .popup {
    position: relative;

    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}

.popupDiv .popup .close {
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 20px;
}

.popupDiv .popup.error {
    background-color: #ed5555;
    border: 2px solid #f53f3f;
}

.popupDiv .popup.success {
    background-color: #6fda5a;
    border: 2px solid #51d437;
}