{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> El teu perfil- Biblioteca IETI</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="{% static 'biblioteca/styles.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'biblioteca/image/maricarmenbrito-logo.png' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

    {% include 'nav.html' %}
    {% include 'sidebar.html' %}
    
    <!-- Contenidor gris al costat de la barra lateral -->
    <div class="ml-16 bg-gray-100 min-h-screen relative w-full lg:w-3/4 transition-all duration-200 ease-in-out"
        style="margin-top: 0px;">
        <div class="mx-auto px-6 py-8 w-full">
            <div class="flex items-center justify-center">
                <div class="w-1/2 mx-auto mt-0 pt-10 mt-10">

                    <div class="bg-white shadow-2xl border border-gray-300 rounded-lg overflow-hidden">
                        <div class="bg-gray-200 text-gray-700 text-lg px-6 py-4">Perfil d'usuari</div>
                    
                        <div class="flex justify-between items-center px-6 py-4">
                            <div class="flex space-x-3">
                                <img src="{% if user.imatgePerfil %}{{ user.imatgePerfil.url }}{% else %}{% static 'biblioteca/imatgePerfil/default.jpg' %}{% endif %}"
                                    alt="Perfil" class="h-16 w-16 rounded-full">
                    
                                    <div class="text-gray-700 text-lg mt-5">{{ firstname }} {{ lastname }}</div>
                                </div>
                            </div>
                    
                            <div class="px-6 py-4 mt-4 border-t">
                                <div class="flex justify-between items-center">
                                    <div class="text-gray-700 text-bold">Més dades de l'usuari</div>
                                    <a href="{% url 'editar_perfil' %}" class="text-blue-500 hover:text-blue-700" onclick="saveLog('info', 'Ha dado clic al boton de editar perfil', '/Perfil', localStorage.getItem('username'))">Editar perfil</a>
                                </div>
                                <br>
                                <div class="mt-2">
                                    <div class="text-sm text-gray-600 font-semibold">Correu electrònic: <br><span class="font-normal">{{ email|default:"No Definit" }}</span></div>
                                    <div class="text-sm text-gray-600 font-semibold">Data de naixement:<br> <span class="font-normal">{{ dataNaixement|default:"No Definit" }}</span></div>
                                    <div class="text-sm text-gray-600 font-semibold">Cicle: <br><span class="font-normal">{{ cicle|default:"No Definit" }}</span></div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>


        <script src="{% static 'biblioteca/logout.js' %}"></script>
        <script src="{% static 'biblioteca/actualizarImagen.js' %}"></script>
        <script src="{% static 'biblioteca/logs.js' %}"></script>
    </body> 
    <script>
        localStorage.setItem('token generado', '{{ token }}');
        localStorage.setItem('username', '{{ username }}');


    function expandSidebar() {
        const sidebar = document.getElementById('sidebar');
        const mainContent = document.querySelector('.ml-16');

        if (sidebar.style.width === '16rem') {
            sidebar.style.width = '4rem';
            mainContent.style.marginLeft = '4rem';
            mainContent.style.width = 'calc(100% - 4rem)'; // adjust the width of the main content
            sidebar.classList.remove('text-left', 'px-6');
            sidebar.classList.add('text-center', 'px-0');
        } else {
            sidebar.style.width = '16rem';
            mainContent.style.marginLeft = '16rem';
            mainContent.style.width = 'calc(100% - 16rem)'; // adjust the width of the main content
            sidebar.classList.add('text-left', 'px-6');
            sidebar.classList.remove('text-center', 'px-0');
        }

        const labels = sidebar.querySelectorAll('span');
        labels.forEach(label => label.classList.toggle('opacity-0'));
    }


    /* Desplegar submenu de perfil */
    document.getElementById('profile-button').addEventListener('click', function () {
        document.getElementById('profile-submenu').classList.toggle('hidden');
    });
    document.getElementById('profile-arrow').addEventListener('click', function () {
        document.getElementById('profile-submenu').classList.toggle('hidden');
    });
    /*****************************/

    function highlightSidebarItem(element) {
        const buttons = document.querySelectorAll("#sidebar button");
        buttons.forEach(btn => {
            btn.classList.remove('bg-gradient-to-r', 'from-cyan-400', 'to-cyan-500', 'text-white');
            btn.firstChild.nextSibling.classList.remove('text-white');
        });
        element.classList.add('bg-gradient-to-r', 'from-blue-100', 'to-blue-200');

    }




</script>

</html>