{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panell d'administració - Biblioteca IETI</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="{% static 'biblioteca/styles.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'biblioteca/image/maricarmenbrito-logo.png' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CTYLX1PX0T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CTYLX1PX0T');
    </script>


</head>


<body>

    {% include 'nav.html' %}
    {% include 'sidebar.html' %}


    <!-- Contenedor gris al lado de la barra lateral -->
    <div class="ml-16 bg-gray-100 min-h-screen relative w-full lg:w-3/4 transition-all duration-200 ease-in-out"
        style="margin-top: 0px;">
        <br><br>

        <p class="text-xl text-gray-600 font-semibold mt-10 ml-20">
            Préstecs
        </p>
        <div class="flex flex-wrap mb-2 mt-6 usuarisContainer" style="margin-left: 65px">
            <header class="prestecsHeader">
                <button class="createNewPrestec">
                    <i class="fas fa-plus"></i>
                </button>
            </header>
            <table class="mainTable prestecs">
                <thead>
                    <tr>
                        <th>Llibre</th>
                        <th>Correu Electronic Usuari</th>
                        <th>Data Préstec</th>
                        <th>Data Devolucio</th>
                        <th>Retornat</th>
                        <th>Botons</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <!-- User hidden in the class for hide the element -->
    <div class="createNewPrestecContainer">
        <article>
            <header>
                <h2>Crear un nou préstec</h2>
            </header>
            <form>
                <main>
                    <div class="inputProducts">
                        <label for="searchInputProducts">Llibre</label>
                        <input type="text" class="w-full bg-white pl-2 text-base font-semibold outline-0"
                            style="height: 40px; width: 450px;" placeholder="Cerca per titol" id="searchInputProducts"
                            required />
                    </div>
                    <div class="inputUsers">
                        <label for="searchInputUsers">Usuari</label>
                        <input type="email" class="w-full bg-white pl-2 text-base font-semibold outline-0"
                            style="height: 40px; width: 450px;" placeholder="Cerca per correu electronic de l'usuari"
                            id="searchInputUsers" required />
                    </div>
                    <div class="inputsDates">
                        <div class="inputDate">
                            <label for="datePrestec">Data Préstec</label>
                            <input type="date" class="bg-white pl-2 text-base font-semibold outline-0"
                                style="height: 40px;" id="datePrestec" required />
                        </div>
                        <div class="inputDate">
                            <label for="dateDevolucio">Data Devolucio</label>
                            <input type="date" class="bg-white pl-2 text-base font-semibold outline-0"
                                style="height: 40px;" id="dateDevolucio" required />
                        </div>
                    </div>


                </main>
                <footer>
                    <button class="closePopup">
                        Tancar
                    </button>
                    <button class="createPrestec">
                        Crear Préstec
                    </button>
                </footer>
            </form>

        </article>
    </div>


    <script src="{% static 'biblioteca/logout.js' %}"></script>
    <script src="{% static 'biblioteca/actualizarImagen.js' %}"></script>
    <script src="{% static 'biblioteca/logs.js' %}"></script>
    <script src="{% static 'biblioteca/popup.js' %}"></script>
    <script src="{% static 'biblioteca/prestecs.js' %}"></script>


</body>
<script>
    localStorage.setItem('token generado', '{{ token }}');
    localStorage.setItem('username', '{{ username }}');

    // Variable for pass the centre id to the js file
    const centreId = "{{ user.centre.id }}"


    function expandSidebar() {
        const sidebar = document.getElementById('sidebar');
        const mainContent = document.querySelector('.ml-16');

        if (sidebar.style.width === '16rem') {
            sidebar.style.width = '4rem';
            mainContent.style.marginLeft = '4rem';
            mainContent.style.width = 'calc(100% - 4rem)'; // adjust the width of the main content
            sidebar.classList.remove('text-left', 'px-6');
            sidebar.classList.add('text-center', 'px-0');
        } else {
            sidebar.style.width = '16rem';
            mainContent.style.marginLeft = '16rem';
            mainContent.style.width = 'calc(100% - 16rem)'; // adjust the width of the main content
            sidebar.classList.add('text-left', 'px-6');
            sidebar.classList.remove('text-center', 'px-0');
        }

        const labels = sidebar.querySelectorAll('span');
        labels.forEach(label => label.classList.toggle('opacity-0'));
    }


    /* Desplegar submenu de perfil */
    document.getElementById('profile-button').addEventListener('click', function () {
        document.getElementById('profile-submenu').classList.toggle('hidden');
    });
    document.getElementById('profile-arrow').addEventListener('click', function () {
        document.getElementById('profile-submenu').classList.toggle('hidden');
    });
    /*****************************/

    function highlightSidebarItem(element) {
        const buttons = document.querySelectorAll("#sidebar button");
        buttons.forEach(btn => {
            btn.classList.remove('bg-gradient-to-r', 'from-cyan-400', 'to-cyan-500', 'text-white');
            btn.firstChild.nextSibling.classList.remove('text-white');
        });
        element.classList.add('bg-gradient-to-r', 'from-blue-100', 'to-blue-200');

    }

    $(document).ready(checkPopup)

</script>

</html>