{% load static %}

<!-- Barra lateral -->
<div id="sidebar"
class="w-28 bg-white h-screen fixed rounded-none border-none transition-all duration-200 ease-in-out overflow-hidden"
style="margin-top: 40px;">


<!-- Items -->
<div class="p-2 space-y-2">
    <button
        class="relative px-3 py-1 flex items-center space-x-4 justify-start text-gray-500 rounded-lg group mt-4"
        onclick="highlightSidebarItem(this)">
        <i class="fas fa-home "></i>
        <span class="font-medium transition-all duration-200 opacity-0">Inici</span>
    </button>

    <!-- Usuaris -->
    <button class="relative px-3 py-1 flex items-center space-x-4 justify-start text-gray-500 rounded-lg group"
        onclick="highlightSidebarItem(this)">
        <i class="fas fa-users "></i>
        <span class="font-medium transition-all duration-200 opacity-0">Gestió d'usuaris</span>
    </button>

    <!-- Prestecs -->
    <button class="relative px-3 py-1 flex items-center space-x-4 justify-start text-gray-500 rounded-lg group"
        onclick="highlightSidebarItem(this)">
        <i class="fas fa-hourglass ml-1"></i>
        <span class="font-medium transition-all duration-200 opacity-0">Prestecs</span>
    </button>


    <!-- Cataleg -->
    <button class="relative px-3 py-2 flex items-center space-x-4 justify-start text-gray-500 rounded-lg group"
        onclick="highlightSidebarItem(this)">
        <i class="fas fa-book ml-1"></i>
        <span class="font-medium transition-all duration-200 opacity-0">Catàleg</span>
    </button>

    <!-- Peticions -->
    <button class="relative px-3 py-2 flex items-center space-x-4 justify-start text-gray-500 rounded-lg group"
        onclick="highlightSidebarItem(this)">
        <i class="fas fa-file-alt ml-1"></i>
        <span class="font-medium transition-all duration-200 opacity-0">Peticions</span>
    </button>

    <!-- Reserves -->
    <button class="relative px-3 py-2 flex items-center space-x-4 justify-start text-gray-500 rounded-lg group"
        onclick="highlightSidebarItem(this)">
        <i class="fas fa-calendar-check ml-1"></i>
        <span class="font-medium transition-all duration-200 opacity-0">Reserves</span>
    </button>


</div>
</div>

